@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


body,html{
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  background: linear-gradient(107.45deg, #00011D 0.86%, rgba(3, 13, 210, 0.42) 100%);
}
